In [25]:
a = {1,2,3}
b = {3,2,5,6}
c = a & b
c

{2, 3}

In [4]:
import os
os.getcwd()

'C:\\Users\\user\\Desktop\\major_project\\keystroke-dynamics-datagen-master\\Keystroke-Dynamics-Using-LSTMs-master\\Keystroke-Dynamics-Using-LSTMs-master'

In [13]:
os.chdir('C:\\Users\\user\\Desktop\\DWDM\\projects\\code')

In [14]:
import pandas as pd
df = pd.read_csv("spd.csv")

In [15]:
df.head()

         lat       long   loc-id
0  30.269103 -97.749395   420315
1  30.255731 -97.763386   316637
2  30.263418 -97.757597    16516
3  30.274292 -97.740523  5535878
4  30.261599 -97.758581    15372

In [17]:
df['loc-id'][3]

5535878

In [22]:
a = [[1,2,3],[4,5,6]]
b = set(a[0])
b

{1, 2, 3}